* {
  font-family: "Poppins", sans-serif;
}
p {
  font-size: small;
}
.txt {
  color: var(--bs-light-text-emphasis);
}
td {
  white-space: normal !important;
  word-wrap: break-word;
}
.social {
  font-size: 25px;
}
/* https://pageuid.netlify.app/?id=1 untuk membuat identifikasi chrome */

.toast {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  margin: auto;
  min-width: 350px;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
}
